@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 245 245 240; /* #F5F5F0 in RGB */
    --foreground: 30 41 59; /* #1E293B */
  }

  body {
    @apply bg-background text-primary antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-medium tracking-tight;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
